<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamTwo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Steam_Two.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SteamTwo.Properties.Settings>
            <setting name="encrypted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAddFriend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chatComSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encryptedKeyCheck" serializeAs="String">
                <value>FteUuLPNgH2K7YjGhHbPGw==</value>
            </setting>
            <setting name="closeStemLaunchSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwayRunSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="copyPasswordSetting" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamTwo.Properties.Settings>
        <Steam_Two.Properties.Settings>
            <setting name="encrypted" serializeAs="String">
                <value>False</value>
            </setting>
        </Steam_Two.Properties.Settings>
    </userSettings>
</configuration>